{% extends 'base.html' %}
{% load static %}

{% block title %}Training{% endblock %}



{% block images %}
    <div style="display: flex; padding-top: 6px;">
        <img src="{% static 'images/running_image.jpg' %}" alt="fruits" width="480px" style="margin: 0 16px;">
        <div>
            <h1 style="margin-left: 4px;"><b>ABOUT TRAINING</b></h1>
            <p style="padding-right: 4px; margin-right: 10px;">Training is teaching, or developing in oneself or others, any skills and knowledge or fitness that relate to specific 
                useful competencies. Training has specific goals of improving one's capability, capacity, productivity and performance. 
                It forms the core of apprenticeships and provides the backbone of content at institutes of technology (also known as 
                technical colleges or polytechnics). In addition to the basic training required for a trade, occupation or profession,
                training may continue beyond initial competence to maintain, upgrade and update skills throughout working life. People
                within some professions and occupations may refer to this sort of training as professional development. Training also 
                refers to the development of physical fitness related to a specific competence, such as sport, martial arts, military 
                Some commentators use a similar term for workplace learning to improve performance: "training and development". There 
                are also additional services available online for those who wish to receive training above and beyond what is offered 
                by their employers. Some examples of these services include career counseling, skill assessment, and supportive 
                services.[2] One can generally categorize such training as on-the-job or off-the-job.
                The on-the-job training method takes place in a normal working situation, using the actual tools, equipment, documents 
                or materials that trainees will use when fully trained. On-the-job training has a general reputation as most effective 
                for vocational work.[3] It involves employees training at the place of work while they are doing the actual job. 
                Usually, a professional trainer (or sometimes an experienced and skilled employee) serves as the instructor using 
                hands-on practical experience which may be supported by formal classroom presentations. Sometimes training can occur 
                by using web-based technology or video conferencing tools. On-the-job training is applicable on all departments 
                within an organization. Simulation based training is another method which uses technology to assist in trainee 
                development. This is particularly common in the training of skills requiring a very high degree of practice, and in 
                those which include a significant responsibility for life and property. An advantage is that simulation training 
                allows the trainer to find, study, and remedy skill deficiencies in their trainees in a controlled, virtual 
                environment. This also allows the trainees an opportunity to experience and study events that would otherwise be 
                rare on the job, e.g., in-flight emergencies, system failure, etc., wherein the trainer can run 'scenarios' and 
                study how the trainee reacts, thus assisting in improving his/her skills if the event was to occur in the real world. 
                Examples of skills that commonly include simulator training during stages of development include piloting aircraft, 
                spacecraft, locomotives, and ships, operating air traffic control airspace/sectors, power plant operations training, 
                advanced military/defense system training, and advanced emergency response training like fire training or first-aid 
                training.
            </p>
        </div>
    </div>
{% endblock %}